{% extends "base.html" %}

{% block og %}
<meta property="og:title" content="{{ SITENAME.full }} {{ YEAR }}">
<meta property="og:description" content="{{ DESCRIPTION }}">
<meta property="og:type" content="website">
<meta property="og:url" content="https://{{ SITEURL }}/">
<meta property="og:site_name" content="{{ SITENAME.full }} {{ YEAR }}">
<meta property="og:image" content="https://{{ SITEURL }}/theme/images/logo.png">
{% endblock %}

{% block title %}{{ SITENAME.full }} {{ YEAR }}{% endblock %}

{% block content %}
    {{ page.content }}
{% endblock %}