html {
    font-size: 14px;
}

body {
    background: url(../images/bg.png);
    font-size: 1.1rem;
}

h1 {
    font-size: 2rem;
}

h5 {
    font-size: 1.2rem;
}

a {
    color: #3f7baa;
    text-decoration: underline;
}

a:hover {
    color: #666;
}

nav {
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    border-top: 1px solid rgba(0, 0, 0, .125);
    margin: 20px 0;
    padding: 10px 0;
}

.nav-link {
    color: #666;
    text-decoration: none;
}

.nav-link:hover{
    color: #3f7baa;
}

.nav-link.active {
    font-weight: bold;
}

@media (min-width: 992px) {
    .site-name {
        display: none;
    }
}

.container {
    background: #fff;
}

@media (min-width: 576px) {
    .container {
        border-top: 2px solid #3f7baa;
        box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
        margin-bottom: 48px;
        margin-top: 48px;
    }
}

@media (min-width: 992px) {
    .container {
        padding: 0 30px;
    }
    
}

@media (min-width: 1200px) {
    .container {
        padding: 0 60px;
    }
    
}

.header-image {
    margin-bottom: 40px;
}

.header-image img {
    border-radius: 3px;
    box-shadow: 0 1px 8px rgba(63, 123, 170, 0.8);
    width: 100%;
    height: 100%;
}

.card-header {
    background: #fafdff;
    color: #3f7baa;
}

.card-body a {
    text-decoration: none;
}

footer {
    border-top: 1px solid rgba(0, 0, 0, .125);
    padding: 20px 0;
}